/* https://www.happyhues.co/palettes/12 */
/* Body Style */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0f0e17;
    color: #a7a9be;
    
}
.btn{
    background-color: #a7a9be;
    border: #fffffe;
    width: 100%;
    border-color: #0f0e17;
}
h1,h2,h3,h4,h5,h6{
    color: #fffffe;
}
.btn:hover{
    background-color: #ff8906;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover,
a:focus {
    text-decoration: none;
}

/* Navbar */
nav{
    background-color: #0f0e17;
    color: #fffffe;
}
.nav-link{
    color: #fffffe;
}
.nav-link:hover{
    color: #ff8906;
}
.navbar-toggler-icon{

    background-color: #a7a9be;
    
}
/* Hero */

/* Project */

#project .container{
    color: #a7a9be;
}
/* Certificates */
/* Skills and Education */
.text-small {
    font-size: 0.9rem;
}
/* Contact */
/* Footer */
footer {
    background: #212529;
}
#contact a:hover{
    color: #ff8906;
}



.image {
    background: #34495e;
    border: 1px solid #34495e;
    max-height: 366.55px;
}
p a{
    color: rgb(49, 8, 250);
    text-shadow: 1px;
}
p a:hover{
    color: cadetblue;
}
i{
    font-size: 50px;
    margin:10px;
}
form{
    border-style: solid;
    border-width: 1px;
    padding: 1.5rem;
}

#certificate img{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}
#certificate img:hover{
    transition: 0.45s;
    min-width: 110px;
    min-height: 110px;
}
figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
figure a{
    align-items: center;
    display: flex;
    margin: 0.5rem 1rem;
    flex-direction: column;
}
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}
  
.timeline-with-icons .timeline-item {
    position: relative;
}
  
.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}
  
.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: #ff8906;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
