/* https://www.happyhues.co/palettes/12 */
/* Body Style */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0f0e17;
    color: #a7a9be;
}
.btn {
    background-color: #a7a9be;
    border: #fffffe;
    width: 60%;
    font-weight: 400;
    position: relative;
    border-color: #0f0e17;
    margin: 0px 20%;
}
.btn:hover{
    background-color: #ff8906;
    color: #fffffe;
}
h1,h2,h3,h4,h5,h6{
    color: #fffffe;
}
a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #ff8906;
}
.image {
    background: #34495e;
    border: 1px solid #34495e;
    max-height: 366.55px;
}
p a{
    text-shadow: 1px;
}
p a:hover{
    color: cadetblue;
}
i{
    font-size: 50px;
    margin:10px;
}

/* Navbar */
nav{
    background-color: #0f0e17;
    color: #fffffe;
}
.nav-link{
    color: #fffffe;
}
.nav-link:hover,
.nav-link:focus{
    color: #ff8906;
}
.navbar-toggler-icon{
    background-color: #a7a9be;
}
.res-btn{
    background-color: #a7a9be;
    color: #0f0e17;
    border-color: #0f0e17;
    border-radius: 100px;
    margin: 2px;
}
.res-btn:hover,
.res-btn:focus{
    background-color: #ff8906;
    color: #fffffe;
}
/* Hero */
#hero .btn{
    margin: 0px;
    width: 100%;
}
#hero .img-fluid {
    border-radius: 5px;
    max-width: 48%;
    height: auto;
}
/* Project */
#project .container{
    color: #a7a9be;
}
#project .btn{
    margin: 0px;
    width: 100%;
}
#project p a{
    color: #ff8906;
}
/* Certificates */
#certificate .container{
    display: flex;
}
.carousel {
    position: relative;
    display: flex;
}
#demo .carousel-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
#certificate img{
    max-width: 50%;
    max-height: 40%;
    min-width: 100px;
    min-height: 100px;
}
#certificate .img-small{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}
#certificate .img-small:hover{
    transition: 0.45s;
    min-width: 110px;
    min-height: 110px;
}
.side-fig{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
figure a{
    align-items: center;
    display: flex;
    margin: 0.5rem 1rem;
    flex-direction: column;
}
/* Skills and Education */
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}
  
.timeline-with-icons .timeline-item {
    position: relative;
}
  
.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}
  
.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: #ff8906;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-small {
    font-size: 0.9rem;
}
/* Contact */
#contact a:hover{
    color: #ff8906;
}
#contact .btn{
    margin: 0px;
}
form{
    border-style:dashed;
    border-width: 1px;
    padding: 1.5rem;
}
/* Team */
#team .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
#team .profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#team .btn{
    margin: 0px;
    width: 100%;
    color: #0f0e17;
}
#team .btn:hover,
#team .btn:focus{
    color: #fffffe;
    background-color: #ff8906;
}
/* Footer */
footer {
    background: #212529;
}




